<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
@font-face
{
	font-family: GoTFont;
	src: url(srcImg/GoTFont.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}	

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: GoTFont;
}

li a:hover:not(.active) {
	background-color: #111;
	color: #EBDE36;
}

.active {
    background-color: #4CAF50;
}
body {
	display: block;
	width: 1000px;
	background-color: #333344;
	margin: 0 auto;
}

#banner{
	display: block;	
}

.betbutton{
	position: relative;
	top: 0px;
	float: right;
}

.oddsText {
	position: absolute;
	bottom: 0px;
    left: 0px;
    font-size: 30px;
}

homecontent{
	display: block;
	align-self: center;
	background-image: url(srcImg/used.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 900px;
	height: 200px;
	text-align: left;
	position: relative;
	left: 50px;
	vertical-align: middle;
	font-family: GoTFont;
	font-size: 36px;
	color: #;
	color: #ABABAB;
}
</style>
<script src = "http://code.jquery.com/jquery-1.7.2.min.js"></script> 
<title>A Winner Is Coming</title>
</head>
</html>


<html>
<img src="srcImg/test.jpg" width="1000" height="200" alt="" id="banner"/>
<body>
<ul>
  <li><a href = "/">Home</a></li>
  <li><a href="/history">History</a></li>
  <li><a href="/statistics">Statistics</a></li>
  <li><a href="/updateMenu">Update</a></li>
</ul>
<br>

<script>
	function visitPage(url) {
		window.location.href = url;
	}
</script>


<div id = "content">
  <homecontent>
  Arya Stark
  <button type="button" onclick="visitPage('placeBet/death&aryastark')" class="betbutton">Place Bet</button>
  <div class = "oddsText">
  	  Odds: <%= require_relative 'testEndtoEnd.rb'
  			get_odds(client, "death", 6, "Arya Stark")%> / 1
  </div>
  </homecontent>
  <br>
  <homecontent>
  Daenerys Targaryen
  <button type="button" onclick="visitPage('placeBet/death&daenerystargaryen')" class="betbutton">Place Bet</button>
  <div class = "oddsText">
  	  Odds: <%= require_relative 'testEndtoEnd.rb'
  			get_odds(client, "death", 6, "Daenerys Targaryen")%> / 1
  </div>
  </homecontent>
  <br>
  <homecontent>
  Jaime Lannister
  <button type="button" onclick="visitPage('placeBet/death&jaimelannister')" class="betbutton">Place Bet</button>
  <div class = "oddsText">
  	  Odds: <%= require_relative 'testEndtoEnd.rb'
  			get_odds(client, "death", 6, "Jaime Lannister")%> / 1
  </div>
  </homecontent>
  <br>
  <homecontent>
  Theon Greyjoy (Reek)
  <button type="button" onclick="visitPage('placeBet/death&theongreyjoy')" class="betbutton">Place Bet</button>
  <div class = "oddsText">
  	  Odds: <%= require_relative 'testEndtoEnd.rb'
  			get_odds(client, "death", 6, "Theon Greyjoy")%> / 1
  </div>
  </homecontent>
  <br>
  <homecontent>
  Ramsay Snow
  <button type="button" onclick="visitPage('placeBet/death&ramsaysnow')" class="betbutton">Place Bet</button>
  <div class = "oddsText">
  	  Odds: <%= require_relative 'testEndtoEnd.rb'
  			get_odds(client, "death", 6, "Ramsay Snow")%> / 1
  </div>
  </homecontent>
</div>

</body>
</html>
