<!doctype html>
<html>
<head>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"> </script>
    <script src = "http://code.jquery.com/jquery-1.7.2.min.js"> </script>
<meta charset="utf-8">
<style>
@font-face
{
	font-family: GoTFont;
	src: url(srcImg/GoTFont.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}	

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: GoTFont;
}

li a:hover:not(.active) {
	background-color: #111;
	color: #EBDE36;
}

.active {
    background-color: #4CAF50;
}
body {
	display: block;
	width: 1000px;
	background-color: #333344;
	margin: 0 auto;
}

#banner{
	display: block;	
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: rgba(0,255,0,0.6);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

homecontent{
	display: block;
	align-self: center;
	background-image: url(srcImg/used.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 900px;
	height: 200px;
	text-align: left;
	position: relative;
	left: 50px;
	vertical-align: middle;
	font-family: GoTFont;
	font-size: 36px;
	color: #;
	color: #ABABAB;
}
</style>
<title>A Winner Is Coming</title>
</head>
</html>


<html>
<img src="srcImg/test.jpg" width="1000" height="200" alt="" id="banner"/>
<body>
<ul>
  <li><a href = "/">Home</a></li>
  <li><a href="/history">History</a></li>
  <li><a class = "active" href="/statistics">Statistics</a></li>
  <li><a href="/updateMenu">Update</a></li>
</ul>
<br>

<div class = "dropdown">
  <button id="title" class="dropbtn">Select Statistic</button>
  <div class="dropdown-content">
    <a onclick ="updateDisplay('House Battle Wins')">House Battle Wins</a>
    <a onclick ="updateDisplay('House Membership')">House Membership</a>
    <a onclick ="updateDisplay('House Death')">House Deaths</a>
    <a onclick ="updateDisplay('Most Popular Characters')">Most Popular Characters</a>
    <a onclick ="updateDisplay('Likely to Die Characters')">Likely to Die Characters</a>
  </div>
</div>

<script>
function setAllButOneHidden(leaveVisible) {
    document.getElementById("winChart").style.visibility = "hidden";
    document.getElementById("membershipChart").style.visibility = "hidden";
    document.getElementById("deathChart").style.visibility = "hidden";
    document.getElementById("popularityChart").style.visibility = "hidden";
    document.getElementById("deathProbChart").style.visibility = "hidden";

    var idToMakeVisible = "";
    switch(leaveVisible) {
        case "House Membership":
            idToMakeVisible = "membershipChart";
            break;
        case "House Death":
            idToMakeVisible = "deathChart";
            break;
        case "Most Popular Characters":
            idToMakeVisible = "popularityChart";
            break;
        case "Likely to Die Characters":
            idToMakeVisible = "deathProbChart";
            break;
        default:
            idToMakeVisible = "winChart";
            break;
    }

    document.getElementById(idToMakeVisible).style.visibility = "visible";
}

function updateDisplay(target) {
    document.getElementById("title").innerHTML = target;

    setAllButOneHidden(target);
}
</script>
<br>
<br>

<canvas id="winChart" width="400" height="400", visibility: hidden></canvas>

<canvas id="membershipChart" width="400" height="400", visibility: hidden></canvas>

<canvas id="deathChart" width="400" height="400", visibility: hidden></canvas>

<canvas id="popularityChart" width="400" height="400", visibility: hidden></canvas>

<canvas id="deathProbChart" width="400" height="400", visibility: hidden></canvas>	


<script>
function populateWinChart() {
    var chart = document.getElementById("winChart");
    var arr = <%=  require_relative 'testEndToEnd.rb'
                      obtainWinsData(client)%>;


    var result = new Chart(chart, {
        type: 'bar',
        data: {
            labels: arr[0],
            datasets: [{
                label: 'Battle Victories by House',
                data: arr[1],
                backgroundColor: 'rgba(153, 102, 255, 0.5)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

function populateMembershipChart() {
    var chart = document.getElementById("membershipChart");
    var arr = <%=  require_relative 'testEndToEnd.rb'
                      obtainMembershipData(client)%>;

    var result = new Chart(chart, {
        type: 'bar',
        data: {
            labels: arr[0],
            datasets: [{
                label: 'Number of Members by House',
                data: arr[1],
                backgroundColor: 'rgba(255, 102, 0, 0.5)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

function populateDeathChart() {
    var chart = document.getElementById("deathChart");
    var arr = <%=  require_relative 'testEndToEnd.rb'
                      obtainDeathData(client)%>;


    var result = new Chart(chart, {
        type: 'bar',
        data: {
            labels: arr[0],
            datasets: [{
                label: 'Number of Deaths by House',
                data: arr[1],
                backgroundColor: 'rgba(255, 102, 0, 0.5)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

function populatePopularityChart() {
    var chart = document.getElementById("popularityChart");
    var arr = <%=  require_relative 'testEndToEnd.rb'
                      obtainPopularityData(client)%>;


    var result = new Chart(chart, {
        type: 'bar',
        data: {
            labels: arr[0],
            datasets: [{
                label: 'Popularity by Characters',
                data: arr[1],
                backgroundColor: 'rgba(255, 102, 0, 0.5)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

function populateDeathProbChart() {
    var chart = document.getElementById("deathProbChart");
    var arr = <%=  require_relative 'testEndToEnd.rb'
                      obtainDeathProbData(client)%>;


    var result = new Chart(chart, {
        type: 'bar',
        data: {
            labels: arr[0],
            datasets: [{
                label: 'Death Probability by House',
                data: arr[1],
                backgroundColor: 'rgba(255, 102, 0, 0.5)'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

window.onload = function() {
    populateWinChart();
    populateMembershipChart();
    populateDeathChart();
    populatePopularityChart();
    populateDeathProbChart();
}
</script>
</body>
</html>